*{
    text-align: center;
}
.div-container{
    border: 1px solid black;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}
div{
    margin: 0;
    padding: 0;
}
.flex-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}
button{
    background-color: aliceblue;
}